NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- National Parks Root -->
	<xs:element name="NationalParks">
		<xs:complexType>
			<xs:sequence>

				<!-- National Park Elements -->
				<xs:element name="NationalPark" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>

							<!-- Child Elements (name, phone) -->
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>

							<!-- Unique Complex Element Address-->
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:int"/>
										<xs:element name="Street" type="xs:string"/>
										<xs:element name="City" type="xs:string"/>
										<xs:element name="State" type="xs:string">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Zip" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>

							</xs:element>

						</xs:sequence>

						<!-- Optinal/Required Attributes (Rating, NearestAirport) -->
						<xs:attribute name="Rating" type="xs:decimal" use="optional"/>
						<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>